body {
  font-family: sans-serif;
  font-size: 16px;
  text-align: justify;
  line-height: 1.5;
  background-color: white;
}
.container {
  max-width: 1600px;
  margin: auto;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  color: black;
  font-style: italic;
}
h4 {
  font-size: 18px;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
}
h1 {
  font-size: 35px;
  display: flex;
  /* padding: 20px; */
}

h2,
h3 {
  font-size: 26px;
  text-decoration: underline;
  justify-items: center;
}
h3 {
  justify-items: center;
}

table,
td,
th {
  border: 2px solid black;
  border-collapse: collapse;
  width: 900px;
  padding: 10px;
  text-align: center;
}

.introduction {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
}
.box {
  flex: 33.33%;
  padding: 20px;
}
.imageBox {
  float: left;
  padding: 10px;
}
.paris {
  float: left;
}
/* .paris {
  display: flex;
} */
.row1 {
  display: flex;
}

#myImage {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  .column {
    flex-direction: column;
  }
  .imageBox {
    float: none;
    width: -webkit-fill-available;
  }
  .row1 {
    flex-direction: column;
  }
  .introduction {
    flex-direction: column;
  }
  table,
  td,
  th {
    border: 2px solid black;
    border-collapse: collapse;
    width: 300px;
    padding: 10px;
    text-align: center;
  }
}
